html, body {
	height: 100%;
	margin: 0 !important;
	padding: 0;
	background-color: #F0F0F0;
	font-family: 'Roboto', Georgia, Times, serif;
}

@font-face {
    font-family: 'Roboto';
	font-style: normal;
    src: url('../htc-aninag/fonts/Roboto.woff');
    font-weight: 400;
}